<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>issuer</key>
	<string>https://identity.thecustomerdemo.com/oauth2/default/v1</string>
	<key>clientId</key>
	<string>0oa6nldke7uFnlrBw1d7</string>
	<key>scopes</key>
	<string>openid profile offline_access</string>
	<key>redirectUri</key>
	<string>{appScheme}:/callback</string>
</dict>
</plist>
